body {
    font-family: 'Courier New', Courier, monospace;
}

h1, h2 {
    color:blue;
}

h1 {
    border-bottom: 1px solid black;
}

p {
    color:maroon;
}

.greentea {
    color: darkolivegreen;
}

.raspberry {
    color: red;
}

.blueberry {
    color: blueviolet;
}

.cranberry {
    color: palevioletred;
}